L2 Course - Main Workflow 1_3.json
{
  "name": "L2 Course - Main Workflow 1/3",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow Design Beispiel\n\n    ### 1. Get and combine data from all necessary sources.\n    ### 2. Sort the data and format the dates.\n    ### 3. Write binary files.\n    ### 4. Send notifications using email and Discord.\n",
        "height": 224,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        -480
      ],
      "typeVersion": 1,
      "id": "d14a2d54-357d-42cc-896e-844fa4b49b9a",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        -160
      ],
      "id": "0fa5d228-3717-4d9e-bd2a-bae3192d0017",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app8kHY13T465lgQm",
          "mode": "list",
          "cachedResultName": "Grid view.csv",
          "cachedResultUrl": "https://airtable.com/app8kHY13T465lgQm"
        },
        "table": {
          "__rl": true,
          "value": "tblhNYUnpw9bQZ8y4",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/app8kHY13T465lgQm/tblhNYUnpw9bQZ8y4"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -976,
        -224
      ],
      "id": "da5d2030-f0b8-49da-be91-293c94e4b403",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "KoaJhaD31sc3QopV",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,region,subregion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -976,
        -64
      ],
      "id": "0daa11d6-ddb2-4d66-bbe4-7624b3f4909d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name.common"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -688,
        -144
      ],
      "id": "f195f482-f25d-414e-8839-7ac6d0722a24",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app8kHY13T465lgQm",
          "mode": "list",
          "cachedResultName": "Grid view.csv",
          "cachedResultUrl": "https://airtable.com/app8kHY13T465lgQm"
        },
        "table": {
          "__rl": true,
          "value": "tblhNYUnpw9bQZ8y4",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/app8kHY13T465lgQm/tblhNYUnpw9bQZ8y4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "region": "={{ $json.region }}",
            "subregion": "={{ $json.subregion }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -480,
        -144
      ],
      "id": "39e5a70c-67a8-456d-8f4a-6fc3e2110d4e",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "KoaJhaD31sc3QopV",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "aa879521-ce0b-42d1-9044-f62ff8cb5f37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "201aea3320714408ca53ff44dec4e4c9cfcb024e856ea6676123963b1ba03eb9"
  },
  "id": "pvxUw72USa1oXHKy",
  "tags": []
}